<% content_for :title do %>Sports<% end %>
<h2>Sports</h2>
<br>
<% if !@sports.empty? %>
    <h3>Your sports</h3>
    <ul>
    <% @sports.order('LOWER(name)').each do |sport| %>
        <%= "<li><a href=\"/sports/#{sport.slug}\">#{sport.name}</a> [<a href=\"/sports/#{sport.slug}/edit\">edit</a>]</li>" %>
    <% end %>
    </ul>
    <br>
<% else %>
    <p>You currently have no sports registered!</p>
<% end %>
<a href="/sports/new"><button type="button" class="btn btn-success">Add sport</button></a>