<% content_for :title do %>Add sport<% end %>
<h2>Add sport</h2>
<br>
<form action="/sports" method="POST">
  <input type="text" name="name" placeholder="Name" required><br><br>
  <input type="submit" value="Save" class="btn btn-success">
</form>