<% content_for :title do %>Add opponent<% end %>
<h2>Add opponent</h2>
<br>
<form action="/opponents" method="POST">
  <label for="name"><b>Name</b></label><br>
  <input type="text" name="name" id="name" required><br><br>
  <input type="submit" value="Save" class="btn btn-success">
</form>