html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #dfff4f;
}

nav .navbar-brand {
    font-size: 2.5rem;
}

nav img {
    max-height: 75px;
    padding: 10px 0;
    margin-right: 20px;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    padding-bottom: 60px;
    background-image: url("/images/background.png");
    background-repeat: repeat;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #07DEC4;
}
