<% content_for :title do %>Register<% end %>
<% content_for :main_align do %>center<% end %>
<h2>Register</h2>
<br>
<form action="/users" method="POST">
  <input type="email" name="email" placeholder="Email" required><br><br>
  <input type="password" name="password" id="password" placeholder="Password" required><br><br>
  <input type="checkbox" id="checkbox" onclick="togglePasswordVisibility()"> <label for="checkbox">Show password</label><br><br>
  <input type="submit" value="Register" class="btn btn-success">
</form>
<br>
<p>Already a racqueteer? <a href="/login">Log in</a></p>