<% content_for :title do %>Register<% end %>
<h2>Register</h2>
<br>
<form action="/register" method="POST">
  <input type="email" name="email" placeholder="Email" required><br><br>
  <input type="password" name="password" placeholder="Password:" required><br><br>
  <input type="submit" value="Register" class="btn btn-success">
</form>
<br>
<p>Already a racqueteer? <a href="/login">Log in</a></p>