<% content_for :title do %><%= "#{@racquet.frame_brand.name} #{@racquet.frame_model.name} x #{@racquet.string_brand.name} #{@racquet.string_model.name}" %><% end %>
<h2><%= "#{@racquet.frame_brand.name} #{@racquet.frame_model.name} x #{@racquet.string_brand.name} #{@racquet.string_model.name}" %></h2>
<br>

SHOW RACQUET <%= @racquet.id %>

- show matches