<% content_for :title do %>Add string model<% end %>
<h2>Add string model</h2>
<br>
<form action="/strings/models" method="POST">
  <label for="name"><b>Name</b></label><br>
  <input type="text" name="name" id="name" required><br><br>
  <input type="submit" value="Save" class="btn btn-success">
</form>