<% content_for :title do %>Coaches - <%= @coach.name %><% end %>
<h2><%= @coach.name %></h2>
<br>
<% if !@coaching_sessions.empty? %>
    <h3>Coaching sessions</h3>
    <ul>
    <%# iterate over coaching sessions %>
    <% @coaching_sessions.each do |coaching_session| %>
        <%# list coaching session %>
        <% focus = coaching_session.focus[0].downcase + coaching_session.focus[1..-1] %>
        <%= "<li>#{formatted_date(coaching_session, "long")}: <a href=\"/coaching/#{coaching_session.id}\">#{focus}</a></li>" %>
    <% end %>
    </ul>
<% end %>
<br>
<a href="/coaches/<%= @coach.slug %>/edit"><button type="button" class="btn btn-primary">Edit coach</button></a>