<% content_for :title do %>Matches<% end %>
<h2>Matches</h2>
<br>
<%# check if there are any matches %>
<% if !@matches.empty? %>
    <%# create sport variable to track which sport's matches the app is on %>
    <% sport = @matches.first.sport.name %>
        <h3>Your matches</h3>
    <h4><%= sport %></h4>
    <ul>
    <%# iterate over matches %>
    <% @matches.each do |match| %>
        <%# update sport variable if a new sport's matches have been reached %>
        <% if match.sport.name != sport %>
            </ul>
            <% sport = match.sport.name %>
            <%= "<h4>#{sport}</h4>" %>
            <ul>
        <% end %>
        <%# list match %>
        <%= "<li>#{formatted_date(match, "long")}: <a href=\"/matches/#{match.id}\">#{match.result.name.downcase} vs #{match.opponent.name}</a> [<a href=\"/matches/#{match.id}/edit\">edit</a>]</li>" %>
    <% end %>
    </ul>
    <br>
<% else %>
    <p>You currently have no matches recorded!</p>
<% end %>
<a href="/matches/new"><button type="button" class="btn btn-success">Add match</button></a>