<% content_for :title do %>About<% end %>
<h2>About Racqueteer</h2>
<br>
<h3>Demo</p>
<div class="embed-responsive embed-responsive-16by9 iframe_container">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nK35Tuxfkso" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<hr>
<h3>Creator and GitHub repository</h3>
<ul>
    <li>Ynda Jas (<a href="https://pronoun.is/they/.../themself">they</a>): <a href="https://github.com/yndajas">GitHub</a> | <a href="https://yndajas.co">website</a></li>
    <li><a href="https://github.com/yndajas/Racqueteer">GitHub repository</a></li>
</ul>
<hr>
<h3>Image credits</h3>
<ul>
    <li>Logo/favicon made by <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a>, available <a href="https://www.flaticon.com/free-icon/tennis_3445655" target="_blank" title="Logo/favicon">here</a></li>
    <li>Background image based on art by <a href="https://www.freepik.com/macrovector" target="_blank">Macrovector</a>, available <a href="https://www.freepik.com/free-vector/vintage-hand-drawn-sports-action-games-seamless-pattern_10603523.htm" target="_blank" title="Background image">here</a></li>
</ul>