<h2>Welcome!</h2>
<br>
<h3>What is Racqueteer?</h3>
A lightweight web app for:
<ul>
    <li>keeping track of your racquet sports activities</li>
    <li>recording and reviewing your matches, coaching and racquets</li>
    <li>accessing breakdowns of each by sport, opponent, coach and more!</li>
</ul>
<h3>... who are you?</h2>
<p><a href="/register">Register</a> or <a href="/login">log in</a> to start racqueteering</p> 