<% content_for :title do %>Edit location<% end %>
<h2>Edit location</h2>
<br>
<form action="/locations/<%= @location.slug %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name"><b>Name</b></label><br>
    <input type="text" name="name" id="name" value="<%= @location.name %>" required><br><br>
    <input type="submit" value="Update" class="btn btn-success">
</form>
<br>
<hr>
<h3>Delete location</h3>
<br>
<p><b>Warning:</b> deleting a location will delete all associated matches and coaching sessions. This cannot be undone.</p>
<form action="/locations/<%= @location.slug %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" onclick="return confirm('Warning: deleting a location will delete all associated matches and coaching sessions. This cannot be undone.\n\nAre you sure you wish to delete the location?');" value="Delete location" class="btn btn-danger">
</form>